@charset "UTF-8"

;body{
    background-color:rgba(255, 235, 121, 0.788);           
    font-size: 20px;
    margin: 50px 300px 50px;
}

h1 {
    width: 830px;
    height: 113px;
    border: 5px;
    border-color: black;
    border-style: groove;
    text-align: center;
    float: unset;
    
    
}
img {
   float: right;
}

main {
    width: 810px;
    height: 700px;
    padding: 10px;
    border: 5px;
    border-color: black;
    border-style: groove;
}
